@model UserViewModel;
@{
    ViewData["Title"] = "Usuários";
}

<h1 class="text-center display-4">Usuários Cadastrados</h1>
<div>
    <a class="btn btn-primary" asp-action="Register">Novo</a>
    @if (Model.UserList.Count() > 0)
    {
        <table class="table table-hover table-borderless">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NOME</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">OPÇÕES</th>
                </tr>
            </thead>
            @foreach (var item in Model.UserList)
            {
                <tbody>
                    <tr>
                        <td scope="row">
                            @item.RegisterId
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            <a class="btn btn-info" asp-action="Edit" asp-route-userId="@item.Id">Editar</a>
                            @if (@item.UserName != User.Identity?.Name)
                            {
                                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalRemover@(item.Id)">Remover</button>
                                <!-- Modal -->
                                <div class="modal fade" id="modalRemover@(item.Id)" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Usuário @item.Name</h5>
                                            </div>
                                            <div class="modal-body">
                                                Tem certeza que deseja remover @item.Name?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                <a onclick="disableBtn(this)" class="btn btn-danger" asp-action="Remove" asp-route-userId="@item.Id">Remover</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    }
    else
    {
        <div class="alert alert-warning text-center w-25 m-auto" role="alert">
            Nenhum usuário cadastrado!
        </div>
    }
</div>


